/*
Thanks to Franklin Ta for the matrix3d transform calculator:
http://franklinta.com/2014/09/08/computing-css-matrix3d-transforms/
*/
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #222; }

ul ul {
  margin-top: 0;
  margin-bottom: 0; }

/* Animations */
@keyframes pulse-faint {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.4; } }
@-webkit-keyframes pulse-faint {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.4; } }
@keyframes pulse-medium {
  0% {
    opacity: .4; }
  100% {
    opacity: .7; } }
@-webkit-keyframes pulse-medium {
  0% {
    opacity: .4; }
  100% {
    opacity: .7; } }
@keyframes pulse-strong {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@-webkit-keyframes pulse-strong {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@keyframes blink-medium {
  0%, 100% {
    opacity: .4; }
  50% {
    opacity: .7; } }
@-webkit-keyframes blink-medium {
  0%, 100% {
    opacity: .4; }
  50% {
    opacity: .7; } }
@keyframes blink-full {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes blink-full {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
/* Home page */
body.index {
  /* This business accomplishes the same thing as background-size: contain.
     But there is a reason to go through it. If I went the background route,
     I wouldn't be able to read back out the image's changing dimensions.
     Using an img lets me use the browser's natural habit of maintaining an
     img element's aspect ratio to also update the nav container's dimensions.
     (See main.js.) */ }
  body.index nav {
    position: absolute; }
  body.index nav .label {
    position: absolute;
    top: 2%;
    left: 5%;
    font-family: Consolas, "Courier New", monospace;
    color: white;
    opacity: 0;
    transition: all 1s; }
  body.index nav .label.active {
    top: 4%;
    opacity: 1;
    transition: all .5s; }
  @media (min-aspect-ratio: 2033 / 1475) {
    body.index {
      /* Viewport is wider than image aspect ratio, so constrain height */ }
      body.index img.bg {
        height: 100%;
        max-height: 1475px; } }
  @media (max-aspect-ratio: 2033 / 1475) {
    body.index {
      /* Viewport is taller than image aspect ratio, so constrain width */ }
      body.index img.bg {
        width: 100%;
        max-width: 2033px; } }
  body.index nav img.shift {
    position: absolute;
    left: 82.14461%;
    top: 40.40678%;
    width: 17.855386%;
    height: 16.474576%;
    opacity: 0;
    transition: opacity 1s; }
  body.index nav img.shift.on {
    opacity: 1;
    transition: opacity 500ms; }
  body.index nav ul {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  body.index nav ul li {
    position: absolute;
    margin: 0;
    padding: 0; }
  body.index nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    background: top left no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 1s; }
  body.index nav ul.idle li a {
    animation: pulse-faint infinite alternate;
    -webkit-animation: pulse-faint infinite alternate; }
  body.index nav ul.idle li.contact a {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s; }
  body.index nav ul.idle li.resume a {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s; }
  body.index nav ul.idle li.poetry a {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s; }
  body.index nav ul.idle li.experiments a {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s; }
  body.index nav ul li a:hover, body.index nav ul li a:focus {
    animation: none;
    -webkit-animation: none;
    opacity: 1;
    transition: opacity .5s; }
  body.index nav ul li.resume {
    left: 24.495%;
    top: 54.101%;
    width: 16.182%;
    height: 18.033%; }
  body.index nav ul li.resume a {
    background-image: url(../img/light-r.jpg); }
  body.index nav ul li.poetry {
    left: 63.0103%;
    top: 38.2373%;
    width: 14.36301%;
    height: 14.101695%; }
  body.index nav ul li.poetry a {
    background-image: url(../img/light-p.jpg); }
  body.index nav ul li.contact {
    left: 2.9513%;
    top: 55.7966%;
    width: 15.00246%;
    height: 17.7627%; }
  body.index nav ul li.contact a {
    background-image: url(../img/light-2.jpg); }
  body.index nav ul li.experiments {
    left: 47.31923%;
    top: 39.457627%;
    width: 13.1825%;
    height: 13.6949%; }
  body.index nav ul li.experiments a {
    background-image: url(../img/light-8.jpg); }

/* Contact page */
@media (min-aspect-ratio: 2300 / 1725) {
  body.contact {
    /* Viewport is wider than image aspect ratio, so constrain height */ }
    body.contact img.bg {
      height: 100%;
      max-height: 1725px; } }
@media (max-aspect-ratio: 2300 / 1725) {
  body.contact {
    /* Viewport is taller than image aspect ratio, so constrain width */ }
    body.contact img.bg {
      width: 100%;
      max-width: 2300px; } }
body.contact .container {
  position: absolute; }
body.contact .up {
  display: block;
  width: 62.2299%;
  height: 5.52995%;
  position: absolute;
  left: 5.27226%;
  top: 10.25346%;
  overflow: hidden;
  text-indent: -9999em; }
body.contact ul.contact-methods {
  position: absolute;
  left: 6.52174%;
  top: 16.63768%;
  font-family: Consolas, Monaco, monospace;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: matrix3d(1.19101, -0.01684, 0, 0.00071, 0.15769, 1.01971, 0, 0.00015, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px; }
  body.contact ul.contact-methods li {
    margin: 0;
    padding: 0; }
    body.contact ul.contact-methods li a {
      display: block;
      color: white;
      text-decoration: none; }
    body.contact ul.contact-methods li a:hover {
      color: #feffa3; }

/* Poetry page */
@media (min-aspect-ratio: 1725 / 2300) {
  body.poetry {
    /* Viewport is wider than image aspect ratio, so constrain height */ }
    body.poetry img.bg {
      height: 100%;
      max-height: 2300px; } }
@media (max-aspect-ratio: 1725 / 2300) {
  body.poetry {
    /* Viewport is taller than image aspect ratio, so constrain width */ }
    body.poetry img.bg {
      width: 100%;
      max-width: 1725px; } }
body.poetry a {
  color: white;
  text-decoration: none; }
body.poetry .container {
  position: absolute; }
  body.poetry .container ::-webkit-scrollbar {
    width: .5em; }
  body.poetry .container ::-webkit-scrollbar-track {
    background-color: transparent; }
  body.poetry .container ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .25em; }
  body.poetry .container ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4); }
body.poetry .poem {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  font-family: 'Radley', serif;
  cursor: pointer; }
  body.poetry .poem ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px; }
  body.poetry .poem ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.75); }
  body.poetry .poem .close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 300%;
    animation: pulse-strong 2s infinite alternate;
    -webkit-animation: pulse-strong 2s infinite alternate;
    color: white; }
  body.poetry .poem .margin {
    border: 5em solid transparent;
    height: 100%;
    box-sizing: border-box; }
  body.poetry .poem .text {
    text-shadow: 0 0 1em white;
    overflow-y: auto;
    line-height: 1.2;
    height: 100%;
    font-size: 110%; }
    body.poetry .poem .text h2 {
      margin: 0 0 1.4em 0;
      font-size: 140%;
      font-weight: normal; }
body.poetry a.back {
  font-size: 200%;
  display: block;
  position: absolute;
  animation: pulse-strong 1.5s infinite alternate;
  -webkit-animation: pulse-strong 1.5s infinite alternate;
  left: 2%;
  top: 2%;
  opacity: 1; }
body.poetry .container.reading-mode a.back {
  animation: none;
  -webkit-animation: none; }
body.poetry .poems {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 49%;
  height: 69%;
  padding: .5em;
  overflow-y: auto;
  font-family: 'Radley', serif;
  color: white;
  text-shadow: 0 0 0.8em black;
  transform: matrix3d(1.04555, 0.06533, 0, 0.00014, -0.0078, 1.21652, 0, 0.00083, 0, 0, 1, 0, -1, -15, 0, 1);
  transform-origin: 0px 0px 0px; }
  body.poetry .poems > ul {
    list-style: none;
    margin: 0 0 80% 0;
    padding: 0; }
    body.poetry .poems > ul > li {
      margin: 1em 0 0 0;
      font-style: italic; }
      body.poetry .poems > ul > li ul {
        list-style: none;
        margin: 0 0 0 1em;
        padding: 0;
        font-size: 140%;
        font-style: normal; }
        body.poetry .poems > ul > li ul li {
          text-indent: -1em; }
        body.poetry .poems > ul > li ul a {
          opacity: 1;
          transition: opacity .5s; }
        body.poetry .poems > ul > li ul a:hover {
          opacity: .6;
          transition: opacity .2s; }

/* Experiments page */
@media (min-aspect-ratio: 1275 / 1700) {
  body.experiments {
    /* Viewport is wider than image aspect ratio, so constrain height */ }
    body.experiments img.bg {
      height: 100%;
      max-height: 1275px; } }
@media (max-aspect-ratio: 1275 / 1700) {
  body.experiments {
    /* Viewport is taller than image aspect ratio, so constrain width */ }
    body.experiments img.bg {
      width: 100%;
      max-width: 1700px; } }
body.experiments ul.container {
  /* Use as a container, completely covering the BG image. */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none; }
  body.experiments ul.container li {
    position: absolute;
    margin: 0;
    padding: 0; }
    body.experiments ul.container li a {
      display: block;
      text-indent: -9999em;
      overflow: hidden;
      background: top left no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      animation: blink-medium 2s steps(1, end) infinite;
      -webkit-animation: blink-medium 2s steps(1, end) infinite; }
    body.experiments ul.container li a:hover {
      animation: none;
      -webkit-animation: none; }
  body.experiments ul.container .photomind {
    left: 56.94118%;
    top: 8.82353%;
    width: 7.84314%;
    height: 4%; }
    body.experiments ul.container .photomind a {
      background-image: url(../img/experiment-icons/photomind.png); }
  body.experiments ul.container .unicode-moth {
    left: 31.37255%;
    top: 45.88235%;
    width: 4.39216%;
    height: 2.11765%; }
    body.experiments ul.container .unicode-moth a {
      background-image: url(../img/experiment-icons/unicode-moth.png); }
  body.experiments ul.container .waterfall {
    left: 80%;
    top: 59.70588%;
    width: 11.29412%;
    height: 1.76471%; }
    body.experiments ul.container .waterfall a {
      background-image: url(../img/experiment-icons/waterfall.png); }
  body.experiments ul.container .back {
    left: 2.5098%;
    bottom: 1.70588%;
    width: 4.70588%;
    height: 2.11765%; }
    body.experiments ul.container .back a {
      background-image: url(../img/experiment-icons/back.png);
      animation: blink-full 2s steps(1, end) infinite;
      -webkit-animation: blink-full 2s steps(1, end) infinite; }
    body.experiments ul.container .back a:hover {
      animation: none;
      -webkit-animation: none;
      background-color: white; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
