/*
Thanks to Franklin Ta for the matrix3d transform calculator:
http://franklinta.com/2014/09/08/computing-css-matrix3d-transforms/
*/

@import "h5b-before";


@mixin animation($v) {
  animation: $v;
  -webkit-animation: $v;
}
@mixin animation-delay($v) {
  animation-delay: $v;
  -webkit-animation-delay: $v;
}
@mixin animation-duration($v) {
  animation-duration: $v;
  -webkit-animation-duration: $v;
}


html { height: 100%; }
body {
    height: 100%;
    background: #222;
}
ul ul { margin-top: 0; margin-bottom: 0; }

/* Animations */
@import 'animations';

/* Home page */
@import 'index';

/* Contact page */
@import 'contact';

/* Poetry page */
@import 'poetry';

/* Experiments page */
@import 'experiments';

@import "h5b-after";
