[submodule "experiments/unicode-moth"]
	path = experiments/unicode-moth
	url = https://github.com/linusrachlis/unicode-moth.git
[submodule "experiments/photomind"]
	path = experiments/photomind
	url = https://github.com/linusrachlis/photomind.git
[submodule "experiments/waterfall"]
	path = experiments/waterfall
	url = git@github.com:linusrachlis/waterfall.git
