@mixin dark-mode {
    @media screen and (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin dark-mode-line-height($line-height) {
    @include dark-mode() {
        line-height: $line-height;
    }
}

:root {
    --text-color: black;
    --text-color-low-contrast: black;
    --border-color: black;
    --background-color: white;
    --background-color-low-contrast: antiquewhite;

    @include dark-mode() {
        --text-color: #eee;
        --text-color-low-contrast: antiquewhite;
        --border-color: #888;
        --background-color: #333;
        --background-color-low-contrast: rgb(61, 57, 52);
    }
}

html {
    font: 17px/1.4 'Radley', serif;
    @include dark-mode-line-height(1.5);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

}

a, a:visited, a:active, a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

header {
    padding: 0 1rem;

    h1 {
        font: normal 1.25rem 'Josefin Sans', sans-serif;
    }
    h1 .ego { font-weight: bold; }
}

.container {
    section:first-child, p:first-child, h1:first-child {
        margin-top: 0;
    }
    section:last-child, p:last-child {
        margin-bottom: 0;
    }

    section {
        li { padding-left: 0.4em; }

        &.quotation {
            font-style: italic;
            text-align: center;
            font-size: 90%;

            margin: 2em auto;
        }

        h2 {
            font: 1.25rem 'Josefin Sans', sans-serif;
        }

        .article-listing {
            margin-bottom: 2em;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                font: bold 1.1em/1.4 'Josefin Sans';
                margin-bottom: 0;
            }
            time {
                display: block;
                margin: 0;
                font: italic normal 0.9em Radley;
            }
            h3 + time + p {
                margin-top: .5em;
            }
            h3 a {
                text-decoration: none;
                border-bottom: 1px dotted var(--border-color);
            }
        }
    }

    article {
        .article-head {
            padding: 1.5rem;
            border-bottom: 1px solid var(--border-color);

            h1 {
                font: bold 1.5rem/1.2 'Josefin Sans', sans-serif;
            }
            .subtitle {
                font: normal 1rem/1.2 'Josefin Sans', sans-serif;
                margin: .67em 0;
            }
            time {
                font: italic normal 0.9em Radley;
            }
        }

        .article-body {
            padding: 1rem;

            h2 {
                font: bold 1.25rem/1.2 'Josefin Sans', sans-serif;
            }

            h3 {
                font: normal 1.1rem/1.2 'Josefin Sans', sans-serif;
            }

            h2 {
                margin: 2rem 0 1rem 0;
            }

            h3 {
                margin: 1rem 0;
            }

            ol, ul {
                padding-left: 1.2em;

                li {
                    margin: 1em 0;
                }
            }

            blockquote {
                line-height: 1.5;
                @include dark-mode-line-height(1.6);
                font-size: 115%;
                margin-top: 1.2em;
                margin-bottom: 1.2em;
            }

        }

        .article-foot {
            padding: 1.5rem;
            border-top: 1px solid var(--border-color);
        }
    }
}

@media only screen and (max-width: 479px) {
    body {
        // Milder reading contrast on a small screen held close to your face
        background-color: var(--background-color-low-contrast);
        color: var(--text-color-low-contrast);
    }
    a, a:visited, a:active, a:hover {
        color: var(--text-color-low-contrast);
    }

    .container {
        section {
            &.quotation {
                margin-left: 1.5em;
                margin-right: 1.5em;
            }

            &.regular {
                padding: 1px 1rem;
            }

            h2 {
                padding: .5rem;
                margin: 0 -1rem;
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 17px;
    }

    .container {
        article {
            .article-body {
                padding: 1.5rem;
                font-size: 105%;
                line-height: 1.5;
                @include dark-mode-line-height(1.6);

                ol, ul {
                    padding-left: 1.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container {
        border-top: 3px double var(--border-color);

        section {
            margin: 3em 0;

            &.quotation {
                border-left: 1px dotted var(--border-color);
                border-right: 1px dotted var(--border-color);
                padding: 0 1em;
                margin-top: 3em;
                margin-bottom: 3em;
            }

            &.hello {
                h2 {
                    padding-top: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        section {
            &.quotation {
                max-width: 27em;
            }

            &.regular {
                padding: 1px 2rem;
            }

            h2 {
                padding: 1rem;
                margin: 0 -2rem;
                border-bottom: 1px solid var(--border-color);
            }
        }

    }
}

@media only screen and (min-width: 768px) {
    header {
        display: inline-block;
        padding: 0.65rem;

        position: fixed;
        top: 0;
        left: 0;
        transform: rotateZ(-90deg) translate(-100%);
        transform-origin: 0 0;

        h1 {
            margin: 0;
        }
    }

    .container {
        border-left: 3px double var(--border-color);
        margin-left: 3rem;
        max-width: 40em;
        padding-top: 1px; // just to prevent weird gap

        section {
            margin: 4em 0;

            &.quotation {
                width: 60%;
                border-top: 1px dotted var(--border-color);
                border-bottom: 1px dotted var(--border-color);
                padding: 1em 0;
            }

            &.regular {
                position: relative;
                margin-left: 2.5rem;
                padding-left: 1rem;
                border-left: 1px solid var(--border-color);
            }

            &.so-long {
                min-height: 7em;
            }

            h2 {
                display: inline-block;
                padding: .5rem;

                position: absolute;
                top: 0;
                left: -2.3rem;
                transform: rotateZ(-90deg) translate(-100%);
                transform-origin: 0 0;

                margin: 0;
            }
        }

        article {
            .article-body {
                ol, ul {
                    padding-left: 2.4em;
                }
            }
        }
    }
}
