html {
    font: 17px/1.4 'Radley', serif;
}

body {
    background-color: white;
    color: black;
}

a, a:visited, a:active, a:hover {
    color: black;
    text-decoration: underline;
}

.container {
    section:first-child, p:first-child, h1:first-child {
        margin-top: 0;
    }
    section:last-child, p:last-child {
        margin-bottom: 0;
    }
}

section li {
    padding-left: 0.4em;
}

.article-listing {
    margin-bottom: 2em;
}
.article-listing:last-child {
    margin-bottom: 0;
}

.article-listing h3 {
    font: bold 1em 'Josefin Sans';
    margin-bottom: 0;
}
.article-listing time {
    display: block;
    margin: 0;
    font: italic normal 0.9em Radley;
}
.article-listing h3 + time + p {
    margin-top: .5em;
}
.article-listing h3 a {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.article-body {
    font-size: 105%;
}
.article-body blockquote {
    line-height: 1.5;
    font-size: 115%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

@media only screen and (min-width: 768px) {
    header {
        display: inline-block;
        background-color: transparent;
        color: black;
        padding: 0.65rem;

        position: fixed;
        top: 0;
        left: 0;
        transform: rotateZ(-90deg) translate(-100%);
        transform-origin: 0 0;

        h1 {
            font: normal 1.25rem 'Josefin Sans', sans-serif;
            margin: 0;
        }
        h1 .ego { font-weight: bold; }
    }

    .container {
        border-left: 3px double black;
        margin-left: 3rem;
        max-width: 40em;
        padding-top: 1px; // just to prevent weird gap

        section {
            margin: 4em 0;

            &.quotation {
                border-top: 1px dotted black;
                border-bottom: 1px dotted black;
                font-style: italic;
                text-align: center;
                font-size: 90%;

                width: 60%;
                margin: 2em auto;
                padding: 1em 0;
            }

            &.vert-header {
                position: relative;
                margin-left: 2.5rem;
                padding-left: 1rem;
                border-left: 1px solid black;
            }

            h2 {
                display: inline-block;
                background-color: transparent;
                color: black;
                padding: .5rem;

                position: absolute;
                top: 0;
                left: -2.3rem;
                transform: rotateZ(-90deg) translate(-100%);
                transform-origin: 0 0;

                font: 1.25rem 'Josefin Sans', sans-serif;
                margin: 0;
            }
        }

        article {
            .article-head {
                padding: 1.5rem;
                border-bottom: 1px solid black;

                h1 {
                    font: bold 1.5rem/1.2 'Josefin Sans', sans-serif;
                }

                time {
                    font: italic normal 0.9em Radley;
                }
            }

            .article-body {
                padding: 1.5rem;
                line-height: 1.5;

                h2 {
                    font: bold 1.25rem/1.2 'Josefin Sans', sans-serif;
                    margin: 2rem 0 1rem 0;
                }

                h3 {
                    font: normal 1.1rem/1.2 'Josefin Sans', sans-serif;
                    margin: 1rem 0;
                }

                ol, ul {
                    li {
                        margin: 1em 0;
                    }
                }
            }

            .article-foot {
                padding: 1.5rem;
                border-top: 1px solid black;
            }
        }
    }
}
